html {
  scroll-behavior: smooth;
  transition-duration: 500ms;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.responsive{
	max-width: 100%;
	height auto;
}
.hero-image{
	background: url(hero-image.png) no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	max-width: 100%;

}
.hero-wrapper{

	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.hero-wrapper h1{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.4rem;
	text-align: center;
}

.form_code{
	text-align: center;
}
.form_code .post-code{
	display: block;
	width: 80%;
	line-height: 2em;
	margin-left: auto;
	margin-right: auto;
	border:none;
	border-radius: 2rem;
	padding:0.6rem ;
	outline: none;
}

.form_code .place-button{
	width: 30%;
	font-weight: bold;
	font-size: 30px;
	color: white;
	padding: .6rem;
	text-align: center;
	margin-top: 1%;
	background-color: #f44336;
	border: none;
	border-radius:.5rem;
	outline: none;
  animation-name: box;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;}
@keyframes box {
  0%{
    background: crimson;
  }
  25%{
    background: #008000;
  }
  50%{
    background: #000080;
  }
  75%{
    background: tomato;
  }
  100%{
    background: 	#8B008B;
  }

}
.hero-wrapper p{
 	text-align: center;
 	font-size: 20px;


}


/*Place List*/
.places h1{
	text-decoration: none;
	text-align: center;

	 border-bottom: 10px solid cyan;
}

.places{
	width: 80%;
	margin-top: .3rem;
	margin-left: auto;
	margin-right: auto;
}

.place{
	float: left;
	width: 32%;

}

.place img{
	 position: relative;
  text-align: center;
  color: white;
	width: 450px;
	height: 450px;
	max-width: 100%;

}

.place h2{
  text-align: center;
  border: 2px;
   font-size: 40px;
   font-weight: bold;


}


.place p{
	text-align: justify;
	box-sizing: border-box;
	border:2px;
}

.places .place{
	margin-right: 1%;
}

.place{
	margin-left: 0;
}

@media screen and (max-width: 700px){
	.place{
		width: 100%;
		float: none;

	}
}
